/.@__thumb
/.@upload_cache
/.HA_VERSION
/.cloud
/.storage
/alan.yaml
/automations.yaml
/blueprints
/configuration.yaml
/custom_components
/customize.yaml.backup
/deps
/dwains-dashboard
/dwains-dashboard2
/esphome
/groups.yaml
/home-assistant.log
/home-assistant.log.1
/home-assistant.log.fault
/home-assistant_v2.db
/home-assistant_v2.db-shm
/home-assistant_v2.db-wal
/image
/node-red
/ps5-mqtt
/reku.backup
/scenes.yaml
/scripts.yaml
/secrets.yaml
/themes
/tts
/ui_lovelace_minimalist
/www
/xiaomi.backup